<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Stylesheet -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">


    <!-- MathJax Scripts -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      extensions: ["tex2jax.js"],
      "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
      tex2jax: { inlineMath: [ ["$", "$"], ["\\(","\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
      TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } } },
      messageStyle: "none"
    });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"></script>

    <!--    font awesome link-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    
<!--jgkbsjdhgsdg-->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">

    <script type="text/javascript" src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<!--kjdfgiushz-->


    <title>Project Ed</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixd-top sticky-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container-fluid px-0 mt-4">

        <div class="mx-auto col-xl-8 col-lg-10 col-md-12 col-sm-12 mb-0
                 hideIt scroller addQuestionInThisClass 
                 justify-content-center">

            <div class="card p-4 mb-5" style="width:auto;">

                <form>

                    <div id="main">
                        <script>
                            $(".key").click($(".key").click() + $('#res').text(function() {
                                    $('#editor').html())
                            })

                        </script>


                        <div class="panel panel-default">

                            <span class="mb-2 btn-group">

                                <div class="mr-2 btn-group">
                                    <button type="button" class="btn buttonWidth buttonBorder btn-light rounded"><span id="changeClass">CLASS</span></button>
                                    <button type="button" class="btn buttonBorder btn-light dropdown-toggle dropdown-toggle-split rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <!-- <div class="dropdown-menu"> -->
					{{ form.grades() }} 
                                        <!-- <option class="dropdown-item classSelection" value="class4" id="4">CLASS 4</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class5" id="5">CLASS 5</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class6" id="6">CLASS 6</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class7" id="7">CLASS 7</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class8" id="8">CLASS 8</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class9" id="9">CLASS 9</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class10" id="10">CLASS 10</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class11" id="11">CLASS 11</option> -->
                                        <!-- <option class="dropdown-item classSelection" value="class12" id="12">CLASS 12</option> -->
                                    <!-- </div> -->
                                </div>

                                <div class="mr-2 btn-group">
                                    <button type="button" class="btn buttonWidth buttonBorder btn-light rounded"><span id="changeSubject">SUBJECT</span></button>
                                    <button type="button" class="btn buttonBorder btn-light dropdown-toggle dropdown-toggle-split rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
				    {{ form.subject() }}
                                    <!-- <div class="dropdown-menu"> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="chemistry">Chemistry</option> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="physics">Physics</option> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="maths">Mathematics</option> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="hindi">Hindi</option> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="computerScience">Computer Science</option> -->
                                    <!--     <option class="dropdown-item subjectSelection" value="biology">Biology</option> -->
                                    <!-- </div> -->
                                </div>


                                <div class="btn-group mr-2">
                                    <button type="button" class="btn buttonWidth buttonBorder btn-light rounded"><span id="changeDifficulty">DIFFICULTY</span></button>
                                    <button type="button" class="btn buttonBorder btn-light dropdown-toggle dropdown-toggle-split rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
				    {{ form.difficulty() }}
                                    <!-- <div class="dropdown-menu"> -->
                                    <!--     <option class="dropdown-item difficultySelection" value="easy">Easy</option> -->
                                    <!--     <option class="dropdown-item difficultySelection" value="medium">Medium</option> -->
                                    <!--     <option class="dropdown-item difficultySelection" value="hard">Hard</option> -->
                                    <!-- </div> -->
                                </div>

                                <div class="btn-group mr-2">
                                    <button type="button" class="btn buttonWidth buttonBorder btn-light rounded"><span id="changeChapter">CHAPTER</span></button>
                                    <button type="button" class="btn buttonBorder btn-light dropdown-toggle dropdown-toggle-split rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <option class="dropdown-item chapterSelection" value=""></option>
                                    </div>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn buttonWidth buttonBorder btn-light rounded"><span id="changeSubtopic">SUB-TOPIC</span></button>
                                    <button type="button" class="btn buttonBorder btn-light dropdown-toggle dropdown-toggle-split rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <option class="dropdown-item subTopicSelection" value=""></option>
                                    </div>
                                </div>

                            </span>




                            <div class="d-inline-flex flex-column flex-sm-row justify-content-between panel-heading">

                                <span class="btn-group mb-1">
                                    <button class="mr-1 border rounded key btn btn-info" data-toggle="dropdown" onclick="if(document.execCommand('increaseFontSize', false, null) == false) {addHTML('big')}"><strong><big>A</big></strong> <i class="fas fa-arrow-up"></i></button>

                                    <button class="mr-5 border rounded key btn btn-info" data-toggle="dropdown" onclick="if(document.execCommand('decreaseFontSize', false, null) == false) {addHTML('small')}"><strong><big>A</big> </strong><i class="fas fa-arrow-down"></i></button>
                                    <!--
                                </span>

                                <span class="btn-group mb-1">
-->
                                    <button type="button" onClick="document.execCommand('bold', false, null)" title="Bold (CTRL+B)" class="mr-1 border rounded key btn btn-secondary"><i class="fas fa-bold"></i></button>

                                    <button type="button" onClick="document.execCommand('italic', false, null)" title="Italic (CTRL+I)" class="mr-1 border rounded key btn btn-secondary"><i class="fas fa-italic"></i></button>

                                    <button type="button" onClick="document.execCommand('underline', false, null)" title="Underline (CTRL+I)" class="mr-5 border rounded key btn btn-secondary"><i class="fas fa-underline"></i></button>
                                </span>

                                <span class="btn-group mb-1">
                                    <button class="mr-1 border rounded key btn btn-success" onclick="image()"><i class="fas fa-image"></i></button>

                                    <a class="border mr-5 rounded key btn btn-right btn-danger" onClick="document.getElementById('editor').innerHTML='<br>'"><big><i class="fas fa-times"></i></big></a>
                                </span>

                            </div>

                            <div contenteditable="true" id="editor" class="mt-0 panel-body border" placeholder="Type question here..."></div>

                        </div>
                        <!--                                                            <div id="res"></div>-->
                    </div>

                    <div class="addOption">
                        <button type="button" class="btn btn-outline-info addOptionButton my-2"><i class="fas fa-plus"></i></button>
			<form method ="POST" action="" id ="answer_form" >
				<input type="hidden" name= "csrf_token" value="{{ csrf_token() }}" >
			</form>
			</div>


                    <div class="mt-2 form-group">
                        <button type="button" class="btn create btn-dark">Add Question</button>
                    </div>

                    <!---------------- keyboard END ----------------->

                </form>
            </div>
        </div>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script src="../static/js/javascript.js"></script>







</body>

</html>
